/*Counter css*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
.mb20{
    margin-bottom:20px;
}
section {
    padding: 10px 0; /*padding: 40px 0;*/
}
#timer .countdown-wrapper {
    /*margin: 0 auto;*/
}
#timer #countdown {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #eee;
    text-shadow: 1px 1px 5px black;
    padding: 30px 0; /*padding: 40px 0;*/
}
#timer .countdown-wrapper #countdown .timer {
    margin: 10px;
    padding: 20px;
    font-size: 22px; /*90px;*/
    border-radius: 50%;
    cursor: pointer;
}
#timer .col-md-4.countdown-wrapper #countdown .timer {
    margin: 10px;
    padding: 20px;
    font-size: 22px; /*35px;*/
    border-radius: 50%;
    cursor: pointer;
}
#timer .countdown-wrapper #countdown #hour {
    -webkit-box-shadow: 0 0 0 5px rgba(92, 184, 92, .5);
    -moz-box-shadow: 0 0 0 5px rgba(92, 184, 92, .5);
    box-shadow: 0 0 0 5px rgba(92, 184, 92, .5);
}
#timer .countdown-wrapper #countdown #hour:hover {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(92, 184, 92, 1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(92, 184, 92, 1);
    box-shadow: 0px 0px 15px 1px rgba(92, 184, 92, 1);
}
#timer .countdown-wrapper #countdown #min {
    -webkit-box-shadow: 0 0 0 5px rgba(91, 192, 222, .5);
    -moz-box-shadow: 0 0 0 5px rgba(91, 192, 222, .5);
    box-shadow: 0 0 0 5px rgba(91, 192, 222, .5);
}
#timer .countdown-wrapper #countdown #min:hover {
    -webkit-box-shadow: 0px 0px 15px 1px rgb(91, 192, 222);
    -moz-box-shadow: 0px 0px 15px 1px rgb(91, 192, 222);
    box-shadow: 0px 0px 15px 1px rgb(91, 192, 222);
}
#timer .countdown-wrapper #countdown #sec {
    -webkit-box-shadow: 0 0 0 5px rgba(2, 117, 216, .5);
    -moz-box-shadow: 0 0 0 5px rgba(2, 117, 216, .5);
    box-shadow: 0 0 0 5px rgba(2, 117, 216, .5)
}
#timer .countdown-wrapper #countdown #sec:hover {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(2, 117, 216, 1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(2, 117, 216, 1);
    box-shadow: 0px 0px 15px 1px rgba(2, 117, 216, 1);
}
#timer .countdown-wrapper .card .card-footer .btn {
    margin: 2px 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
    #timer .countdown-wrapper #countdown .timer {
        margin: 10px;
        padding: 20px;
        font-size: 22px; /*65px;*/
        border-radius: 50%;
        cursor: pointer;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
     #timer .countdown-wrapper #countdown .timer {
        margin: 10px;
        padding: 20px;
        font-size: 22px; /*72px;*/
        border-radius: 50%;
        cursor: pointer;
    }

    .header-top {
        /*height: 135px;*/
    }
}
@media (max-width: 768px) {
    #timer .countdown-wrapper #countdown .timer {
        margin: 10px;
        padding: 20px;
        font-size: 22px; /*73px;*/
        border-radius: 50%;
        cursor: pointer;
    }
}
@media (max-width: 767px) {
    #timer .countdown-wrapper #countdown #hour,
    #timer .countdown-wrapper #countdown #min,
    #timer .countdown-wrapper #countdown #sec {
        font-size: 22px; /*60px;*/
        border-radius: 4%;
    }
}
@media (max-width: 576px){
    #timer .countdown-wrapper #countdown #hour,
    #timer .countdown-wrapper #countdown #min,
    #timer .countdown-wrapper #countdown #sec {
        font-size: 16px; /*25px;*/
        border-radius: 4%;
    }
    #timer .countdown-wrapper #countdown .timer {
        padding: 13px;
    }
    #timer #countdown {
        padding: 20px 0;
    }
}

/*Customized from origin*/
.custom-header-top-col {
    display: block;
}

.custom-header-bottom {
    display: none;
}

.hello-word-title > h3.hello-word-title-h3 {
    font-size: 20px;
}

.breadcrumb-area {
    margin-bottom: 60px;
}

.orderby-wrapper > label {
    margin: 0px;
}

.shop-item-filter > p {
    font-size: 16px;
}

.solidblockmenu.sticky {
    background: #202020 none repeat scroll 0 0;
    opacity: 1;
}

.hide-in-mobile {
    display: block;
}

.card {
    width: max-content;
}

.logo {
    margin: 0px 0 0;
}

.media-margin {
    margin: 0px 0px 0px 10%;
}

.radio-container-div {
    display: inherit;
    margin-top: 5px;
}

@media (max-width: 1200px) {
    .media-margin {
        margin: 0px 0px 0px 2%;
    }
}

@media (min-width: 992px) {
    .support-width-custom {
        /*width: 20%;*/
    }

    .switch-to-gender {
        margin-top: -24px;
    }

    .custom-shop-item-filter {
        /*display: none;*/
    }
}

@media (max-width: 992px) {
    .card {
        width: auto;
    }

    .hide-in-mobile {
        display: none;
    }

    .support-width-custom {
        width: 29%;
    }

    .switch-to-gender {
        margin-top: -24px;
    }

    .custom-shop-item-filter-full {
        display: none;
    }
}

@media (max-width: 768px) {
    .support-width-custom {
        width: 26%;
    }

    .switch-to-gender {
        margin-top: -24px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .breadcrumb-area {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    /*.custom-header-top-col {
        display: none;
    }

    .custom-header-bottom {
        display: block;
    }*/

    .hello-word-title > h3.hello-word-title-h3 {
        font-size: 12px;
        padding: 5px 0px;
    }

    .breadcrumb-area {
        margin-bottom: 20px;
    }

    .shpping-cart-text {
      display: block;
    }
    
    .shopping-cart ul li .shopping-cart-wrapper {
        top: 100%;
    }
    
    .logo {
        margin: 10px 0 0;
    }

    .mid-right-wrapper {
        float: inherit;
        margin: 0px 0 15px;
        overflow: hidden;
    }

    .card {
        width: auto;
    }

    .hide-in-mobile {
        display: none;
    }

    .switch-to-gender {
        margin-top: -24px;
    }

    .custom-shop-item-filter-full {
        display: none;
    }

    .radio-container-div {
        display: inline-flex;
    }

    .radio-container-span {
        vertical-align: -webkit-baseline-middle;
        margin-left: 5px;
    }

    .custom-orderby-wrapper {
        margin-top: 10px; 
    }
}

@media (min-width: 767px) {
    .custom-img {
         width: 570px;
         height: 260px;
         object-fit: cover;
    }

    .single-benner {
        margin-bottom: 30px;
    }
}

/*fully customized*/
.my-custom-btns {
    background: #ED2F59;
    color: white;
}

.my-custom-btns:hover {
    background: #752C32;
    color: white;
}

.main-p-shop-item-filter {
    /*display: none;*/
}

.switch-to-gender-link {
    color: #ff5c00;
}

.switch-to-gender-link:hover {
    color: #ED2F59;
}

.cloned-p-shop-item-filter {
    margin: 5px 0 0 15px;
}

@media (max-width: 480px){
    .buy-now-single {
        display: none;
    }

    .add-cart-single {
        display: none;
    }

    .support-width-custom {
        width: 100%;
    }

    .switch-to-gender {
        margin-top: 10px;
        border-top: 1px solid #f1f1f1;
        padding: 10px 0 0 0;
    }

    .radio-container-div {
        display: inline-flex;
    }

    .radio-container-span {
        vertical-align: -webkit-baseline-middle;
        margin-left: 5px;
    }

    .cloned-p-shop-item-filter {
        display: none;
    }
}

@media (max-width: 767px){
	.support-width-custom {
        width: 100%;
    }

    .single-support:nth-child(2) {
        float: left;
    }
}

@media (max-width: 1199px) {
    .radio-container-span {
        margin-top: 4px;
    }
}

.custom-product-img {
    height: 336px;
    object-fit: cover;
}

.custom-product-image-css {
    border: 2px solid #ED2F59;
}

.single-product-info h3 {
    line-height: normal;
}

.single-support {
    width: auto;
}

.mean-container .mean-nav ul li.active a {
    font-weight: bold;
    color: #ED2F59;
}

.custom-countdown-deals {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
    color: #333;
    font-size: 20px;
}

.custom-offer-img {
    margin-top: 20px;
    height: 179px;
    object-fit: cover;
}

.daily-deals-info p {
  color: #515151;
  font-family: arial;
  font-size: 14px;
  line-height: 24px;
  margin: 10px 0 0;
}

.daily-deals-info .product-price-box {
    font-size: 22px;
    margin-top: 0px;
}

@media (max-width: 768px) {
    .custom-offer-img {
        height: auto;
    }
}

/*@media (max-width: 1024px) {
    .custom-col-lg-4, .custom-col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .daily-deals-info h1 {
        line-height: 20px;
    }

    .daily-deals-info h1 a {
        font-size: 24px;
    }

    .daily-deals-info .product-price-box {
        font-size: 16px;
    }

    .daily-deals-info .product-price-box span {
        margin: 0px;
    }
}

@media (max-width: 768px) {
    .custom-sale-off-image {
        margin-top: 20%;
    }

    .daily-deals-info h1 {
        line-height: 16px;
    }

    .daily-deals-info h1 a {
        font-size: 20px;
    }

    .daily-deals-info .product-price-box {
        font-size: 14px;
    }
}*/

/* HIDE RADIO */
.attr_colors { 
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* IMAGE STYLES */
.attr_colors + a {
  cursor: pointer;
}

/* CHECKED STYLES */
.attr_colors:checked + a {
  outline: 4px solid #ED2F59;
}